<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />   
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="icon" href="{{asset('favicon.ico')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
           
        {% endblock %}
    </head> 
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
